clear
*.py
PD
main
*.jpg
images
yolo/VOCdevkit
yolo/*.py
yolo/yolov3_train/backup
yolo/yolov3_train/train.txt
yolo/yolov3_train/val.txt
yolo/yolov3_train/voc.data
yolo/2019*
build
.vscode
lib.a
example.mp4
extractHud.cpp
vid.mp4